<div class="px-5 mt-3 col"   >

  <div class="row top-row mx-0">
    <div class="col top-col  d-flex  mt-2 mr-4 mb-2">
      <div class="col-6">
        <span class="font-size-20px-black">Set Notification</span>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="container-fluid mt-5 ml-5">

      <div class="overflowy-auto-class">
        <div class="row mx-0">
          <div class="col-12 bold-text px-">
            <div class="form-group row mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label pb-1">Notification Description*</label>
              <div class="col-sm-6">
                <input type="text" [(ngModel)]="notificationName" class="form-control form-control-sm" id="inputName"
                  placeholder="Enter Notification Description" />
                  <!-- <span>{{notificationName}}</span> -->
              </div>
            </div>

            <div class="form-group row mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label pb-1">Select Device Profile*</label>
              <div class="col-sm-6 d-flex">
                <select  [(ngModel)]="selectedDeviceProfile" (change)='selectDeviceProfile($event)'
                  class="form-control form-control-sm select-selected">
                  <option selected disabled>Select Device Profile</option>
                  <option *ngFor="let item of deviceProfileList" [value]="item.versionId">{{item.deviceProfile.deviceProfileName}} {{item.versionCode}}</option>
                </select>
              </div>
              <div class="col-sm-4 d-flex">
                <span *ngIf="showDeviceProfileLoader" class="ml-2 mt-1 font-size-10px"><i class="fas fa-spinner fa-spin fa-2x"></i></span>
              </div>
            </div>

            
            <div class="form-group row mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label pb-1">Select Devices*</label>
              <div class="col-sm-6 d-flex">
                <!-- <select id="inputState" [(ngModel)]="deviceSelect"  (change)='selectDevice($event)'
                  class="form-control form-control-sm">
                  <option selected disabled>Select Device</option>
                  <option *ngFor="let item of devicesList" [value]="item.deviceId">{{item.deveui}}</option>
                </select> -->
    
                <ng-multiselect-dropdown class="w-100"
                  [placeholder]="'Select Devices'"
                  [settings]="dropdownDeviceListSettings"
                  [data]="devicesListOptions"
                  [(ngModel)]="deviceSelect"
                  (onSelect)="onItemSelectFromDevice($event)"
              >
              </ng-multiselect-dropdown>
            </div>
               <div class="col-sm-4 d-flex">
                <span *ngIf="showDevicesLoader" class="ml-2 mt-1 font-size-10px"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span>
                </div>
            </div>

            <div class="form-group row mb-1">
              <label for="inputPassword" class="col-sm-2 col-form-label pb-1">Select Variables*</label>
              <div class="col-sm-6 d-flex">

                <ng-multiselect-dropdown class="w-100"
                 [placeholder]="'Select Variables'"
                 [settings]="dropdownSettings" 
                 [data]="options" 
                 [(ngModel)]="devices"
                 (onSelect)="onItemSelectFromVariable($event)"
                 (onSelectAll)="onSelectAllFromVariable($event)"
                >
                </ng-multiselect-dropdown>
                
              </div>
              
              <div class="col-sm-4 d-flex">
                <span *ngIf="showVariablesLoader" class="ml-2 mt-1 font-size-10px"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span>
              
              </div>
            </div>

            </div>

        </div>
      </div>
    </div>
  </div>


     

  <div class="row variableFormParent">
  <div class="container-fluid column">
    <!-- Form will starts here -->
    <form [formGroup]="variableForm2">


      <div class="container-fluid row" formArrayName="variables2">
      
        <div *ngFor="let quantity of variables2().value;let i=index;"
          [formGroupName]="i" class="mb-5 w-25 mt-3 mr-5 background-color box-shadow ">
          <div class="row variableFormRemove">
          <span class="font-size-20px col-10 ml-4 mt-2">{{quantity.variableNameModel}} : {{quantity.variableTypeModel}}</span>
          <span class=" mt-2 cursor-pointer align-items-center font-size-20px"
            (click)="removeVariableForm(i)" style="vertical-align: middle;cursor: pointer;">
            <span class="material-icons cursor-pointer" > highlight_off </span>
          </span>
        </div>
          <!-- Add key variable complete form -->
          <div *ngIf="quantity.variableTypeModel=='bigint' || quantity.variableTypeModel=='int' || quantity.variableTypeModel=='float'">
            <div class="mt-4 background-color ml-1">
              <div class="row">
                <div class="container-fluid" style="display: contents;">
                  <div class="col-6 pl-4 px-0">

                    <div class="d-flex ">
                      <input type="number" formControlName="upperThresholdValue"
                        class="form-control background-color-input" placeholder="UpperThreshold Value" required
                        (keypress)="numericOnly($event,quantity.variableTypeModel)">
                    </div>

                  </div>
                  <div class="col-6 px-0 pl-2 pr-4">

                    <div class="d-flex ">
                      <input type="number" formControlName="upperDeltaValue" class="form-control background-color-input"
                        placeholder="UpperDelta Value" required
                        (keypress)="numericOnly($event,quantity.variableTypeModel)">
                    </div>

                  </div>
                </div>
              </div>

              <div class="row mt-2 mb-4">
                <div class="container-fluid" style="display: contents;">
                  <div class="col-6 pl-4 px-0 ">
                    <div class="d-flex ">
                      <!-- <label for="" class="font-size-15px mt-2 mr-2">LowerThreshold</label> -->
                      <input type="number" formControlName="lowerThresholdValue"
                        class="form-control background-color-input" placeholder="LowerThreshold Value" required
                        (keypress)="numericOnly($event,quantity.variableTypeModel)">
                    </div>
                  </div>
                  <div class="col-6 px-0 pl-2 pr-4">
                    <div class="d-flex ">
                      <input type="number" formControlName="lowerDeltaValue" class="form-control background-color-input"
                        placeholder="LowerDelta Value" required
                        (keypress)="numericOnly($event,quantity.variableTypeModel)">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="quantity.variableTypeModel=='boolean' " class="ml-5">
            <!-- For SET -->
            <div class="row">
            <label class="font-size-18px mr-4">Set</label>
            <label class="font-size-18px ml-3 pl-1">true</label>
            <input type="radio" formControlName="radioButtonSet" class="background-color-input ml-1 mr-3 mt-2" value="true"
            (click)="radioCheckInSetForTrue($event)">
            <label class="font-size-18px">false</label>
            <input type="radio" formControlName="radioButtonSet" class="background-color-input ml-1 mr-3 mt-2" value="false"
            (click)="radioCheckInSetForFalse($event)">
          </div>
          <!-- For RESET -->
          <div class="row">
            <label class="font-size-18px mr-4">Reset</label>
            <label class="font-size-18px">true</label>
            <input type="radio" formControlName="radioButtonReset" class="background-color-input ml-1 mr-3 mt-2" [value]="true"
            [checked]="radioButtonCheckedFalse " >
            <label class="font-size-18px">false</label>
            <input type="radio" formControlName="radioButtonReset" class="background-color-input ml-1 mr-3 mt-2" [value]="false"
            [checked]="radioButtonCheckedTrue ">
          </div>
          </div>
<div *ngIf="quantity.variableTypeModel=='string'  || quantity.variableTypeModel=='String' ">
  <div class="mt-4 background-color ml-1">
    <div class="row">
      <div class="container-fluid" style="display: contents;">
        <div class="col-6 pl-4 px-0">

          <div class="d-flex ">
            <span class="font-size-15px mt-2 mr-4">Set</span>
              <select  formControlName="selectSet"
              class="form-control form-control-sm select-selected">
                  <option selected disabled>Set</option>
                  <option *ngFor="let notificationSet of notificationSelectForString" [value]="notificationSet">{{notificationSet}}</option>
                </select>
          </div>

        </div>
        <div class="col-6 px-0 pl-2 pr-4">

          <div class="d-flex ">
            <input type="text" formControlName="valueSet" class="form-control background-color-input"
              placeholder="Set String" required
              >
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-2 mb-4">
      <div class="container-fluid" style="display: contents;">
        <div class="col-6 pl-4 px-0 ">
          <div class="d-flex ">
            <label for="" class="font-size-15px mt-2 mr-2">Reset</label>

              <select  formControlName="selectReset"
              class="form-control form-control-sm select-selected">
                  <option selected disabled>Reset</option>
                  <option *ngFor="let notificationSet of notificationSelectForString" [value]="notificationSet">{{notificationSet}}</option>
                </select>
          </div>
        </div>
        <div class="col-6 px-0 pl-2 pr-4">
          <div class="d-flex ">
            <input type="text" formControlName="valueReset" class="form-control background-color-input"
              placeholder="Reset String" required
              >
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

        </div>
        <!-- buttons -->
        <div id="footer" class="container text-center">

          <div class="footer-area">
            <button type="submit" class="submit-button mb-1"
            [routerLink]="['/', 'admin', 'notification-list',projectData?.projectId]">Cancel</button>
            <button type="submit" (click)="onSubmitVariable2()" class="submit-button mb-1"
              [disabled]="showSubmitNotificationLoader"><span class="d-inline-block pr-0">Submit</span>
             <span *ngIf="showSubmitNotificationLoader"><i class="fa fa-spinner fa-spin ml-2" style="font-size:16px"></i></span>
            </button>
          </div>
          
        </div>
      </div>
    </form>
  </div>

